In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
climate = pd.read_csv('Climate_Zone_of_each_country.csv')
population = pd.read_csv('FAOSTAT_data_Annual_Population_2009-2018.csv')
food_balance = pd.read_csv('FAOSTAT_data_Food_Balance_2009-2013.csv')
food_balance2 = pd.read_csv('FAOSTAT_data_Food_Balance_2014-2018.csv')
fertilizer = pd.read_csv('FAOSTAT_Fertilizer.csv')
pesticides = pd.read_csv('FAOSTAT_Pesticides.csv')

In [30]:
crops = pd.read_csv('Production_Crops_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')

# Question 1

In [31]:
frames = [food_balance,food_balance2]
food_balance=pd.concat(frames)
food_balance.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2009,2009,1000 tonnes,4538.0,S,Standardized data
1,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2010,2010,1000 tonnes,4605.0,S,Standardized data
2,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2011,2011,1000 tonnes,4711.0,S,Standardized data
3,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2012,2012,1000 tonnes,4810.0,S,Standardized data
4,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2013,2013,1000 tonnes,4895.0,S,Standardized data

In [32]:
food_balance.iloc[food_balance['Value'].argsort()[-3:]]

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
13153,FBS,New Food Balances,351,China,5142,Food,2605,"Vegetables, Other",2017,2017,1000 tonnes,450576.0,A,"Aggregate, may include official, semi-official..."
14491,FBS,New Food Balances,41,"China, mainland",5142,Food,2605,"Vegetables, Other",2018,2018,1000 tonnes,451702.0,Im,FAO data based on imputation methodology
13154,FBS,New Food Balances,351,China,5142,Food,2605,"Vegetables, Other",2018,2018,1000 tonnes,455116.0,A,"Aggregate, may include official, semi-official..."

In [38]:
food_balance.groupby('Item')['Value'].agg('sum').nlargest(3)

Item
Vegetables, Other          11769967.0
Milk - Excluding Butter     6272191.0
Rice and products           6125966.0
Name: Value, dtype: float64